body{
    background: #cccccc;
    margin-top:0;
    height: 100%;
    width:1440px;
    margin:0 auto;
}
.font-inter{
    font-family: "Inter", serif;
}
/* -------------------header section------------------- */
.header-section{
    padding:40px 70px;
    margin:0 auto;
    background-color:#001549;
    color:#FFF;
}
.nav-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 20px;
}

.logo{
    font-size:25px;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    font-weight:700;
    cursor:pointer;
}

.nav-service{
    display:flex;
}

.nav-service>li,a{
    margin:0 10px 0 10px;
    text-decoration:none;
    font-family: "Inter", serif;
    font:500 18px 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    list-style:none;
    color:#FFF;
}
/* -----------------------hero-section--------------------- */
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    margin-top: 50px;
}

.yash-description{
    padding-right: 20px;

}
.yash-description>h2{
    font-size: 40px;
    margin-top: 50px;
}
.yash-description>h4{
    font-size: 20px;
}
.yash-description>p{
    font-size: 22px;
    line-height: 40px;
    padding-top: 10px;
    color: #FFFFFFCC;
}
.yash-description>p>span{
    font-weight: 600;
    color: white;
}
.advisor{
    margin-bottom: 50px;
}
.social{
    font-size: 18px;
    border: 1px solid #FFFFFFCC;
    margin-right: 20px;
    padding:7px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.fa-brands,.fa-solid{
    padding: 0px 5px;
}
.yash-img{
    display: flex;
    justify-content:end;
    padding: 5px;
}

/* -----------------About Me section------------- */
main{
    background: #F7F7F9;
    padding: 60px 80px;
}
.about-me>span{
    font-size: 20px;
    color: #0033B6;
}
.about-me>p{
   font-size: 22px;
   line-height: 40px;
   color: #001549;
}
.about-me>.beyond{
    color: #767676;
}

/* ----------------------publications------------- */
.publications{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
    border: 3px solid #001549;
    background: #e4e4e4;
    border-radius: 20px 0px 20px 0px;
}
.pub-title{
    margin-top: 50px;
    padding: 20px 0px;
    font-size: 20px;
    color: #0033B6;
}
.publications-content>h2{
    font-size: 28px;
    font-weight: 700;
    color: #001549;
}
.publications-content>p{
    font-size: 18px;
}
.publications-content>p>span{
    color: #001549;
    font-weight: 600;
}
.read-more-btn{
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 18px;
    background: #0033B6;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/* --------------------------------achievements------------------- */
.achievements-content{
    margin-top: 60px;
}
.achievements-title{
    padding: 30px 10px;
    color: #0033B6;
}
.achievements{
    border: 1px solid #c2c2c2;
    text-align: center;
    margin: 20px 0px;
    border-radius: 20px 0px 20px 0px;
}
.achievements:hover{
    border: 2px solid #c2c2c2;
    background: #ececec;
}
.achievements>h2,p{
    font-size: 20px;
    color: #001549;
}

/* ---------------------------review-content------------ */
.review-section{
    background: #001549;
    color: white;
    padding: 50px 0px;
    margin-top: 50px;
    
}
.review-title{
    text-align: center;
    color: white;
    font-weight: 600;
}
.hrr{
    width: 30%;
}
.review-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.history>h4{
  border: 2px solid gainsboro;
  margin: 30px;
  padding: 10px 30px;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
}
.history>h4:hover{
 background: #ffffff;
 color: #001549;
}

/* ------------------------Teaching Experience----------------- */
.teaching-section{
    width: 60%;
    margin: auto;
    padding: 50px 0px;
}
.sub:hover{
    background: #ececec;
}
.teaching-title{
    text-align: center;
    font-weight: 600;
}
.thr{
    width: 50%;
    margin-bottom: 50px;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(189, 189, 189);
    padding: 0px 20px;
    border-radius: 20px 0px 20px 0px;
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #001549;
}
/* --------------------------------blog-section----------------------- */
.blog-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.blog-content{
    border: 2px solid rgb(204, 204, 204);
    margin: 20px;
    padding: 10px 5px;
    border-radius: 10px;

}
.blog-content>img{
    width: 100%;
    padding-bottom: 20px;
}
.blog-content>span{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(82, 82, 82);
    font-weight: 500;
}
.blog-content>h3{
    font-size: 20px;
    padding: 0px 20px;
}
.blog-link{
    padding: 0px 20px;
    color: #0033B6;
    line-height: 25px;
}
.lhr{
    width: 30%;
}
/*----------------------------MY LATEST TWEETS------------------------*/
.tweets-section>p{
    padding: 30px 0px;
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}
.latest-tweets-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* -----------------------footer---------------------------------- */
footer>span{
    background: #000000;
    height: 160px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


@media screen and (max-width: 576px){

    .hero-section{
        width: 95%;
        flex-direction: column-reverse;
        text-align: center;
    }
    .yash-description>h2{
        font-size: 70px;
    }
    .yash-description>h4{
        font-size: 50px;
    }
    .yash-description>p{
        font-size: 50px;
        line-height: 80px;
    }
    .yash-img>img{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .publications{
        display: block;
        text-align:justify;
    }
    .pub-img>img{
        width: 90%;
    }

    .teaching-section{
        width: 90%;
        margin: auto;
    }

    .blog-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin-left: 100px;
    }
    .blog-content{
        text-align: center;

    }
    .blog-content>img{
        padding-bottom: 20px;
    }
    .latest-tweets-img>img{
        width: 80%;
    }
}